In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [2]:
dff = df.pivot_table(index = ['A'], aggfunc = 'size')
dff

A
1    1
2    2
3    1
4    1
5    3
6    1
7    2
dtype: int64