In [2]:
import pandas as pd

df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [12]:
df.groupby(['grps'], as_index = False)['vals'].sum()

  grps  vals
0    a   416
1    b   160
2    c   380

In [7]:
df.sort_values(by = ['grps'])

   grps  vals
0     a    12
1     a   345
2     a     3
6     a     4
7     a    52
3     b     1
4     b    45
8     b    54
12    b    57
13    b     3
5     c    14
9     c    23
10    c   235
11    c    21
14    c    87

In [13]:
df.loc[df.grps == 'a'].sort_values(by = 'vals', ascending = False).iloc[ : 3].sum()

grps    aaa
vals    409
dtype: object

In [14]:
df.loc[df.grps == 'b'].sort_values(by = 'vals', ascending = False).iloc[ : 3].sum()

grps    bbb
vals    156
dtype: object

In [15]:
df.loc[df.grps == 'c'].sort_values(by = 'vals', ascending = False).iloc[ : 3].sum()

grps    ccc
vals    345
dtype: object