In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/country_sex_age.csv')

df

,country,seasonality,sex,age_group,month,unemployment,unemployment_rate
0,at,nsa,f,y25-74,1993.01,61000,4.5
1,at,nsa,f,y25-74,1993.02,62000,4.5
2,at,nsa,f,y25-74,1993.03,62000,4.5
3,at,nsa,f,y25-74,1993.04,63000,4.6
4,at,nsa,f,y25-74,1993.05,63000,4.6
...,...,...,...,...,...,...,...
83155,uk,trend,m,y_lt25,2010.06,518000,21.1
83156,uk,trend,m,y_lt25,2010.07,513000,20.8
83157,uk,trend,m,y_lt25,2010.08,509000,20.5
83158,uk,trend,m,y_lt25,2010.09,513000,20.7
83159,uk,trend,m,y_lt25,2010.10,520000,21.1

In [2]:
df4 = df.groupby(['sex', 'age_group', 'seasonality'])
df4.unemployment_rate.mean()

sex  age_group  seasonality
f    y25-74     nsa             7.539839
                sa              7.579982
                trend           7.579934
     y_lt25     nsa            18.818593
                sa             18.323837
                trend          18.231025
m    y25-74     nsa             6.201653
                sa              6.256909
                trend           6.272703
     y_lt25     nsa            17.215211
                sa             17.067671
                trend          17.013327
Name: unemployment_rate, dtype: float64

In [3]:
df2 = df.groupby(['sex', 'seasonality'])
df2.unemployment_rate.mean()

sex  seasonality
f    nsa            13.179216
     sa             12.908743
     trend          12.862163
m    nsa            11.708432
     sa             11.662290
     trend          11.643015
Name: unemployment_rate, dtype: float64

In [5]:
df3 = df.groupby(['age_group', 'seasonality'])
df3.unemployment_rate.mean()

age_group  seasonality
y25-74     nsa             6.870746
           sa              6.918446
           trend           6.926319
y_lt25     nsa            18.016902
           sa             17.690707
           trend          17.617224
Name: unemployment_rate, dtype: float64