In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df

,a,b,c,d,e,f,g,h,i,j
0,0.697389,0.087627,0.427738,0.652127,0.213189,0.173233,0.742711,0.132456,0.027662,0.546796
1,0.892395,0.664924,0.583669,0.575836,0.008011,0.097923,0.585082,0.862349,0.310445,0.816721
2,0.262769,0.862310,0.054397,0.702348,0.364582,0.383763,0.737390,0.357896,0.099961,0.972578
3,0.026660,0.024349,0.113916,0.918002,0.367708,0.289286,0.120545,0.738080,0.843588,0.333974
4,0.823783,0.343458,0.388897,0.135545,0.645705,0.512270,0.071211,0.209140,0.726759,0.620974

In [12]:
sums = df.sum(axis = 0)
ax = df.append(sums, ignore_index = True)
ax

,a,b,c,d,e,f,g,h,i,j
0,0.697389,0.087627,0.427738,0.652127,0.213189,0.173233,0.742711,0.132456,0.027662,0.546796
1,0.892395,0.664924,0.583669,0.575836,0.008011,0.097923,0.585082,0.862349,0.310445,0.816721
2,0.262769,0.862310,0.054397,0.702348,0.364582,0.383763,0.737390,0.357896,0.099961,0.972578
3,0.026660,0.024349,0.113916,0.918002,0.367708,0.289286,0.120545,0.738080,0.843588,0.333974
4,0.823783,0.343458,0.388897,0.135545,0.645705,0.512270,0.071211,0.209140,0.726759,0.620974
5,2.702996,1.982667,1.568618,2.983857,1.599196,1.456474,2.256941,2.299920,2.008415,3.291043

In [13]:
ax.min(axis = 1)

0    0.027662
1    0.008011
2    0.054397
3    0.024349
4    0.071211
5    1.456474
dtype: float64

In [16]:
ax.idxmin(axis = 1)

0    i
1    e
2    c
3    b
4    g
5    f
dtype: object